* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
}
:root {
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
 --white: hsl(0, 0%, 100%);
 }
body {
  display: grid;
 place-content: center;
}
.first-section {
  margin-top:50px;
  padding: 15px;
  max-width: 330px;
  width: 100%;
  min-height:450px ;
  color: white;
  background-image:  url(/images/bg-pattern-quotation.svg) ;
  background-repeat: no-repeat;
  background-position-x:200px;
  border-radius: 2%;
  background-color: var(--Moderate-violet);
  -webkit-border-radius: 3%;
  -moz-border-radius: 2%;
  -ms-border-radius: 2%;
  -o-border-radius: 2%;
}
.img-daniel {
  position: relative;

  padding: 10%;
}
img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
h3 {
  position: absolute;
  top: 30%;
  left: 30%;
}
.h5-daniel {
  position: absolute;
  top: 48%;
  left: 33%;
  color: var(--Very-dark-grayish-blue );
}
.h2-daiel{

   

}
.p-daniel {
  font-size: 15px;
}